<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Binsta -
			{% block title %}{% endblock %}
		</title>
		<link
		rel="stylesheet" href="/css/styles.css">
		<!-- Include other modern CSS libraries if needed -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
	</head>
	<body class="font-sans bg-gray-100 text-gray-800">
		<!-- Navigation -->
		<nav class="bg-white border-b border-gray-200 p-4">
			<div class="container mx-auto flex justify-between items-center">
				<a href="/" class="font-light font-serif text-3xl italic">Binsta</a>
				<div class="relative ml-4">
					<input type="text" placeholder="Search" class="bg-gray-100 border-2 border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:border-gray-500">
					<button type="submit" class="absolute right-0 top-0 mt-3 mr-4">
						<i class="fas fa-search fa-lg"></i>
					</button>
				</div>
				<div class="flex ml-4 space-x-4 items-center">
					{% if session.user %}
						<a href="/" class="text-gray-500 hover:text-gray-700">
							<i class="fas fa-home fa-xl"></i>
						</a>
						<a href="/post/create" class="text-gray-500 hover:text-gray-700">
							<i class="fas fa-square-plus fa-xl"></i>
						</a>
						<a href="/user/logout">
							<img src="images/{{ session.profile_picture }}" alt="Profile Picture" class="w-8 h-8 rounded-full">
						</a>
					{% else %}
						<a href="/user/login" class="text-gray-500 hover:text-gray-700">
                            <i class="fas fa-sign-in-alt fa-xl"></i>
                        </a>
                        <a href="/user/register" class="text-gray-500 hover:text-gray-700">
                            <i class="fas fa-user-plus fa-xl"></i>
                        </a>
					{% endif %}
				</div>
			</div>
		</nav>

		<!-- Content Section -->
		<div class="container mx-auto my-8 p-8 rounded-md">
		{% block content %}{% endblock %}
		</div>

		<!-- JS -->
		<script src="/js/app.js"></script>
	</body>
</html>
